.fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
  }
  
 /*  Colours */
 
  body {
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
  }

  main{
    max-width: auto;
    margin: 0 auto;
  }

  .main-bg{
    color: #F5F5F5;
  }

  .second-bg{
    color: #C6E4D6;
  }

  .dark-white{
    color: #0E0E0E;
    opacity: 50%;
  }
  
  section{
  margin: 0 160px 0 160px;
  }
  

  /* buttons */ 
  .btn-primary{
    background-color: #006A50;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
  }


  .sign-in-btn {
    background-color: #f9f9f9;
    color: #006A50;
    border: 2px solid #006A50;
    padding: 15px 30px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    font-family: "Fira Sans", sans-serif;
  }
  
  .sign-in-btn:hover {
    background-color: 006A50;
    color: white;
  }

  /* Navigation baar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 160px 0 160px;
}

.nav-title{
    font-weight: bold;
    font-size: 32;
}

nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    font-size: 18;
}

/* Sections */

section{
  margin: 0 160px 0 160px;
}

.section-title{
  font-size: 40px;
  font-weight: bold;
  color: #181818;
}

.section-description{
  font-size: 16px;
  color: #757575;
}

.text-center{
  text-align: left;
}


/* Banner Styles */
.banner{
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-between;
    margin: 0 160px 0 160px;
    border-radius: 24px;
    padding: 60px 60px;
}

.banner-content{
    max-width: 580px;
}

.banner-name{
    font-size: 24px;
    font-weight: 500;
}

.banner-title{
    font-weight: bold;
    font-size: 56px;
}

.banner-hero{

}

/* about syles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}

/* skills section styles */
.Pillars-container{
  display: flex;
  gap: 24px;
}

.Pillars{
  margin-top: 130px;
  padding: 30px;
  border-radius: 24px;
  box-shadow: 0px 6px 50px 0px #0000000f;
}

/* The Vision of Future */

.sec-title{
  font-weight: bold;
  font-size: 40;
}

.sec-description{
  font-weight: 400;
  font-size: 16;
}

.first-section-1{
  margin: 160px 160px;
}
.first-sections{
  display: flex;
  gap: 24px;
}
.fisrt-section-one{
  padding: 32px;
  border-radius: 16px;
  background-color: #5490f533;
  box-shadow: 0px 6px 50px 0px #0000000f;
}
.btn-section-one{
  background-color: #5490F5;
  color: white;
  font-size: 16px;
  padding: 11px 20px;
  border-radius: 5px;
  border: none;

}
.fisrt-section-two{
  padding: 32px;
  border-radius: 16px;
  background-color: #c6e4d6;
  box-shadow: 0px 6px 50px 0px #0000000f;
}
.btn-section-two{
  background-color: #09A15C;
  color: white;
  font-size: 16px;
  padding: 11px 20px;
  border-radius: 5px;
  border: none;

}
.fisrt-section-three{
  padding: 32px;
  border-radius: 16px;
  background-color: #f7ebcf;
  box-shadow: 0px 6px 50px 0px #0000000f;
}
.btn-section-three{
  background-color: #FFC239;
  color: white;
  font-size: 16px;
  padding: 11px 20px;
  border-radius: 5px;
  border: none;

}

/* Recent News */

/* section-satellite styles */
.section-satellite{
  display: flex;
  margin: 50px 160px;
  gap: 24px;
}

.recent-news-box{
  margin: 0px;
}
.img-recent-news{
  padding: 0px 24px;
  border-radius: 24px;
}
.recent-div-section{
  margin-top: 0px;
}

.section-hover{
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  border-radius: 24px;
  padding: 30px;
  margin-top: 24;
}

.recent-news-title{
  font-weight: bold;
  font-size: 40px;
}

.recent-news-description{
  font-weight: 400;
  font-size: 16;
}

/* section-donate styles */
.section-donate{
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 32px 160px;
  gap: 24px;
  display: inline-flex;
}
.donate-one{
  padding: 10px 40px;
  border-radius: 16px;
  background-color: #FFFFFF;
  border: #0e0e0e26;
  box-shadow: 0px 6px 50px 0px #0000000f;
}
.donate-two{
  padding: 10px 40px;
  border-radius: 16px;
  background-color: #C6E4D6;
  border: #0e0e0e26;
  box-shadow: 0px 6px 50px 0px #0000000f;
}
.donate-three{
  padding: 10px 40px;
  border-radius: 16px;
  background-color: #FFFFFF;
  border: #0e0e0e26;
  box-shadow: 0px 6px 50px 0px #0000000f;
}
.donate-four{
  padding: 10px 40px;
  border-radius: 16px;
  background-color: #FFFFFF;
  border: #0e0e0e26;
  box-shadow: 0px 6px 50px 0px #0000000f;
}
.donate-input{
  background-color: white;
  padding:18px 40px;
  width: 1000px;
  border: #b9abab26;
  text-align: center;
  color: #000000;
}
.button:hover .stars{
  display: block;
  filter: drop-shadow(0 0 10px #fffdef);
}

.donate-today-title{
  font-weight: bold;
  font-size: 40px;
}

.donate-today-description{
  font-weight: 400;
  font-size: 16;
}

.button-input{
  font-weight: 400;
  font-size: 20;
}

.donate-align{
  text-align: center;
}

.donate-tk{
  font-weight: bold;
  font-size: 25px;
}

.gaps{
  margin-top: 32px;
}

/* Subscribe to our Newsletter section */

.newsletter-section {
  background-color: #C6E4D6;
  padding: 60px 30px;
  border-radius: 16px;
  text-align: center;
  max-width: auto;
  margin: 0 160px 0 160px;
}

.subscriber-div{
  background-color: #C6E4D6;
  border-radius: 24px;
  text-align: center;
  padding: 50px 120px;
  margin: 0 160px 0 160px;

}
.subscriber-input{
  background-color: white;
  padding:18px 40px;
  width: 765px;
  border: none;
  border-radius: 8px 0px 0px 8px;
  text-align: center;
  color: #0000004d;
}

.subscribe-title{
  font-weight: bold;
  font-size: 40px;
}

.subscribe-description{
  font-weight: 400;
  font-size: 16;
}

/* The End */

.footer-section{
  background-color: #ffffff;
  padding: 60px 30px;
  text-align: center;
  max-width: auto;
  margin: 0px;
  margin-top: 80;
}

.ending-title{
  font-weight: bold;
  font-size: 32px;
}
